/* body {
    text-align: center;
    background-image: url('https://wallpapercave.com/wp/wp5823903.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:rgb(196, 168, 159);
}


h1, h2 {
    size: 60px;
    color: rgb(6, 236, 236);
}

a {
  color: azure;
}

li {
  list-style-type: none;
}


h3 {
  color: rgb(204, 171, 63);
} */